[Desktop Entry]
Name=Mr.Boom
Comment=8 player Bomberman clone
Exec=mrboom
Icon=mrboom
Terminal=false
Categories=Game;ArcadeGame;ActionGame;
Keywords=bomberman;bomb;multiplayer;dynablaster;
Type=Application
